html, body{
    font-family: serif;
    margin: 0;
    padding: 0;    
}
header{
    margin-bottom: 130px;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;;
    width: 10%;
}

header h1{
    background-color: #333;
    color: #fff;
    letter-spacing: 5px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
} 

section h3{
    background-color: #666;
    color: #fff;
    letter-spacing: 3px;
    padding: 6px 15px ;
    text-transform: uppercase;
}

ul li span{
    font-style: italic;
    font-weight: bold;
}

dl{
    margin-left: 30px;
}

dl dt{
    font-style: italic;
    font-weight: bold;
}

footer{
    background-color: #666;
    color: #fff;
    padding: 1px;    
}

footer h4{
    text-align: center;
    text-transform: uppercase;
}

footer h4 span img{
    width: 1.5%;
    margin-left: 10px;
}